*{
  margin:0;
}
.header{
  display:flex;
  justify-content: space-between;
  height: 150px;
  margin-left: 50px;
  margin-right: 60px;
  
}
#fashion{
  padding-top: 50px;
  width: 250px;
  text-shadow: 5px 0 2px rgb(161, 209, 201);
}
#logo{
  width: 150px;
  height: 150px;
  
}
#shopnow{
  width: 100px;
  height: 50px;
  margin-top: 50px;
  background-color: rgb(70, 173, 201);
  color: aliceblue;
  border: none;
  border-radius: 19px;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(232, 237, 240);
}
.nav{
  height: 50px;
  background-color: rgb(70, 173, 201);
  
}
.nav-link{
  list-style: none;
  display: flex;
  margin-left: 90px;
  margin-right: 100px;

  justify-content: space-between;
}
.nav-link a {
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  color: rgb(10, 10, 10);
}
.nav-link a:hover{
  background-color: aliceblue;
  width: 100px;
  height: 50px;
  text-align: center;
}
.slide img{
  height: 900px;
  width: 100%;
  
}
.hero{
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 200px;
  padding-top: 50px;
  margin-top:9px ;
 
}
.left-c{
  width: 500px;
  margin-left: 13px;
  padding-top: 30px;
}
.about{
  margin-top: 100px;
}
.center-h{
  text-align: center;

}
.about p{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding:10px;
  margin-top: 20px;

}
.style{
  height: 600px;
  width: 100%;
  margin-top: 20px;
  
}

.pic{
  display: flex;
  
  margin-top: 30px;
  justify-content: center;
  height: 400px;
}
.footer{
  height: 100px;
  width: 100%;
  background: rgb(70, 173, 201);
  border: 3px solid rgb(146, 149, 123);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media{
  display: flex; 
  font-size: 15px; 
  margin-left: 20px;
}
.icon{
  height: 30px;
  margin: 5px;
}
.contact{
  margin-right: 20px;
}
.contact li{
  list-style:  none;
}
.contact span{
  font-weight: bold;
}